---
layout: base.njk
title: "Naprawa Pralek i Pralko-Suszarek Bircza | Serwis na miejscu"
seo_desc: "Pralka nie wiruje lub nie odpompowuje wody? Błyskawiczna naprawa pralek w Jarosławiu. Wymiana łożysk, pomp i grzałek z dojazdem do klienta."
city_name: "Bircza"
city_locative: "Birczy"
city_path: "/bircza/"
---
{% include "content_pralek.njk" %}
