<div class="about-section section pt0" id="about">
            <div class="container">
                <div class="about-section-inner">
                    <div class="content-block content">


                        <h2 class="content-block-title"><span>AGD</span>.fix24 - mobilny serwis AGD</h2>


                        <div class="content">
                            <p><b>AGD.fix24</b> jest czymś więcej niż zwykłym serwisem naprawczym — jesteśmy Twoim
                                zaufanym ekspertem od naprawy urządzeń AGD w {{ city_locative | default("Przemyślu") }} i okolicach. Nasze zaangażowanie w
                                najwyższą jakość jest fundamentem wszystkiego, co robimy. Dzięki temu otrzymujesz
                                solidne i profesjonalne naprawy, na których możesz polegać każdego dnia: </p>
                            <p><b>Nasz Zespół:</b> Dzięki wieloletniemu doświadczeniu i pasji do perfekcji posiadamy
                                wysokie kwalifikacje w diagnozowaniu i naprawie usterek sprzętu AGD.</p>
                            <p><b>Kompleksowe Usługi:</b> Od lodówek i pralek, suszarek i zmywarek po kuchnie i
                                piekarniki — zajmujemy się naprawą szerokiej gamy urządzeń AGD. Nasze usługi są
                                dopasowane do Twoich indywidualnych potrzeb, aby zapewnić maksymalną wygodę i
                                niezawodność.</p>
                            <p><b>Szybko i Niezawodnie:</b> Rozumiemy, jak uciążliwa potrafi być awaria sprzętu AGD.
                                Dlatego oferujemy szybką i niezawodną pomoc, aby jak najszybciej przywrócić komfort
                                Twojego codziennego życia.</p>
                            <p><b>Gwarancja Jakości:</b> Twoja satysfakcja jest dla nas priorytetem. Gwarantujemy
                                najwyższą jakość napraw, aby Twoje urządzenia działały bez zarzutu na długo po naszej
                                wizycie.</p>
                            {% if villages %}
                            <p class="villages-list" style="font-size: 0.85em; margin-top: 25px; color: #666;">
                                <b style="color:#222;">Obsługiwane miejscowości:</b> {{ villages }}
                            </p>
                            {% endif %}
                        </div>


                    </div>
                    <div class="img-block">
                        <div class="img-block-inner">


                            <div class="img1">
                                <img loading="lazy" src="/agd/images/site/about1_520x470_fdd.jpg" alt="Naprawa pralek">
                            </div>


                            <div class="img2">
                                <img loading="lazy" src="/agd/images/site/about2_520x470_fdd.jpg" alt="Naprawa piekarników">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section num-section pt0">
            <div class="container">


                <div class="nums">

                    <div class="col">
                        <div class="item">
                            <div class="item-title num1">
                                <span id="num1" data-num="4">0</span>
                            </div>
                            <div class="item-text">
                                Lata doświadczenia <br>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num2">
                                <span id="num2" data-num="1200">0</span> +
                            </div>
                            <div class="item-text">
                                Sztuk sprzętu AGD naprawiono
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num3">
                                <span id="num3" data-num="100">0</span> +
                            </div>
                            <div class="item-text">
                                Części zamiennych w samochodzie
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        