        <div class="steps-section section pt0">
            <div class="container">
                <div class="steps-section-inner">
                    <div class="col1">
                        <div class="steps-section-content">

                            <h2>Cenimy Twój czas!</h2>


                            <h3>
                                Przekonaj się osobiście o jakości naszych usług
                            </h3>


                            <div class="push20"></div>
                            <p>
                                <a href="#feedback" class="btn btn-xlg anim-link fancyboxModal"
                                    data-title="Zostaw zgłoszenie" data-theme="Zgłoszenie z AGD.fix24"><span>Zostaw
                                        zgłoszenie</span></a>
                            </p>

                        </div>
                    </div>
                    <div class="col2">


                        <div class="steps">
                            <div class="item">
                                <div class="item-num">
                                    1
                                </div>
                                <div class="item-title">
                                    minuta dzieli Cię od zgłoszenia problemu
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    15
                                </div>
                                <div class="item-title">
                                    minut na kontakt i ustalenie szczegółów
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    45
                                </div>
                                <div class="item-title">
                                    minut średni czas diagnostyki i naprawy
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="push30"></div>
            </div>
        </div>
