        <div class="steps-section section pt0">
            <div class="container">
                <div class="steps-section-inner">
                    <div class="col1">
                        <div class="steps-section-content">

                            <h2><span>Błyskawiczny serwis AGD {{ city_name | default("Przemyśl") }},</span> bez ukrytych kosztów.</h2>


                            <h3>
                                Jak wygląda proces naprawy ?
                            </h3>


                            <div class="push20"></div>
                            <p>
                                <a href="#feedback" class="btn btn-xlg anim-link fancyboxModal"
                                    data-title="Zostaw zgłoszenie" data-theme="Zgłoszenie z AGD.fix24"><span>Zostaw
                                        zgłoszenie</span></a>
                            </p>

                        </div>
                    </div>
                    <div class="col2">


                        <div class="steps">
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-2.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Zgłoszenie usterki – zadzwoń lub napisz na Messengerze, WhatsApp
                                    lub email</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/group.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Ustalenie szczegółów - skontaktujemy się z Tobą dla ustalenia
                                    szczegółów i terminów</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/icon.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Diagnostyka i wycena - na miejscu ustalamy przyczynę usterki i
                                    koszt naprawy</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/45.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Naprawa urządzenia - stosujemy tylko nowe wysokiej jakości części
                                    zamienne</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-3.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Gwarancja i odbiór - gwarancja na części i robociznę, paragon
                                    lub fakturę na życzenie.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="push30"></div>
            </div>
        </div>
