<div class="get-consultation-section section pt0 pb0">
            <div class="container">
                <div class="get-consultation-section-inner">

                    <div class="section-bg">
                        <img src="/agd/images/site/consultation-bg.jpg" alt="">
                    </div>


                    <div class="section-body">
                        <div class="section-body-inner">

                            <h2><span>DARMOWA</span> konsultacja telefoniczna <br>i szybka pomoc specjalisty</h2>

                            <div class="form-wrapper">

                                <div class="form-title">
                                    Potrzebujesz pomocy ? Odpowiemy na wszystkie Twoje pytania i umówimy wizytę na
                                    diagnostykę w dowolnym, dogodnym dla Ciebie terminie.
                                </div>


                                <div class="rf">
                                    <form class="ajax_form" method="post">
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" class="form-control required" name="name"
                                                        placeholder="Twoje imię *" value="">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" class="form-control tel required" name="phone"
                                                        placeholder="Numer telefonu *" value="">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <button type="submit" class="btn btn-xlg full-width anim-link"
                                                    value="Oddzwońcie do mnie"
                                                    name="getconsultationbtn"><span>Oddzwońcie do mnie</span></button>
                                            </div>
                                        </div>
                                        <div class="agreement form-group">
                                            <input type="checkbox" name="agreement" id="agreement_get_consultation"
                                                class="required">
                                            <label for="agreement_get_consultation">
                                                Akceptuję
                                            </label> <a href="javascript:;" data-src="/agd/policy.html .page-content" data-fancybox data-type="ajax" data-options="{&quot;baseClass&quot;: &quot;policy-modal&quot;, &quot;smallBtn&quot;: true, &quot;toolbar&quot;: false}">warunki
                                                przetwarzania danych osobowych</a>
                                        </div>


                                    </form>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="push20"></div>
        </div>