


        <div class="services-section section pt0" id="services">
            <div class="container">

                <h2><span>Typowe usterki zmywarek</span>, które naprawiamy w {{ city_locative | default("Przemyślu") }}:</h2>
                <p class="services-subtitle">Diagnozujemy i naprawiamy wszystkie typowe awarie zmywarek. Dojazd do
                    klienta, naprawa w dniu zgłoszenia.</p>

                <div class="services services--usterki">
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Nie włącza się.webp"
                                    alt="Zmywarka nie włącza się">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Zmywarka nie włącza się</div>
                                <div class="item-desc">Problem z modułem elektronicznym, uszkodzony przycisk lub blokada
                                    drzwi.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Nie odprowadza wody.webp"
                                    alt="Zmywarka nie odprowadza wody">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Zmywarka nie odprowadza wody</div>
                                <div class="item-desc">Zablokowana pompa odpływowa, zatkany filtr lub niedrożny syfon.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Nie pobiera wody.webp"
                                    alt="Zmywarka nie pobiera wody">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Zmywarka nie pobiera wody</div>
                                <div class="item-desc">Awaria zaworu wlotowego (AquaStop) lub problem z czujnikiem
                                    poziomu wody.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Wyciek wody ze zmywarki.webp"
                                    alt="Wyciek wody ze zmywarki">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Wyciek wody ze zmywarki</div>
                                <div class="item-desc">Uszkodzona uszczelka drzwi lub nieszczelne połączenia misy do
                                    obudowy.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/zmywarki/Nie grzeje wody  Błąd temperatury.webp"
                                    alt="Zmywarka nie grzeje wody">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Zmywarka nie grzeje wody</div>
                                <div class="item-desc">Uszkodzona grzałka przepływowa, czujnik NTC lub problem z modułem
                                    sterującym.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Niedokładnie myje naczynia.webp"
                                    alt="Niedokładnie myje naczynia">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Niedokładnie myje naczynia</div>
                                <div class="item-desc">Zablokowane ramiona natryskowe, zapchane filtry lub słaba
                                    wydajność pompy myjącej (niskie ciśnienie wody).</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Głośno pracuje  Hałasuje.webp"
                                    alt="Zmywarka hałasuje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Zmywarka głośno pracuje</div>
                                <div class="item-desc">Uszkodzona pompa, zanieczyszczony filtr lub zablokowany silnik
                                    przez ciało obce.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/zmywarki/Błąd na wyświetlaczu.webp"
                                    alt="Błąd na wyświetlaczu">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Błąd na wyświetlaczu</div>
                                <div class="item-desc">Diagnostyka kodów błędów i naprawa w zależności od rodzaju
                                    usterki.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="about-section section pt0" id="about">
            <div class="container">
                <div class="about-section-inner">
                    <div class="content-block content">


                        <h2 class="content-block-title">Profesjonalna <span>naprawa zmywarek w {{ city_locative | default("Przemyślu") }}</span> z dojazdem</h2>


                        <div class="content">
                            <p><b>Czemu wybrać AGD.fix24? ?</b> Zmywarka nie myje naczyń, nie odpompowuje wody lub nie nagrzewa?
                                Problemem jest zazwyczaj zapchany filtr, uszkodzona pompa zmywarek, grzałka lub moduł
                                sterujący. Naprawa wymaga czyszczenia układu hydraulicznego i wymiany elementów
                                eksploatacyjnych. Nasz zakres obejmuje także czyszczenie dysz natryskowych i kontrolę
                                zaworów wlotowych. </p>
                            <p><b>Naprawiamy:</b> urządzenia większości producentów dostępnych na rynku, w tym: Amica,
                                Beko, Bosch, Electrolux, Gorenje, Hisense, Indesit, LG, Miele, Samsung, Siemens, Sharp,
                                Whirlpool, Zanussi oraz wiele innych.</p>
                        </div>
                        <div class="about-repairs">
                            <h3 class="about-repairs-title">Co naprawiamy?</h3>
                            <div class="about-repairs-cols">
                                <ul class="about-repairs-list">
                                    <li>Wymiana pompy odpływowej</li>
                                    <li>Wymiana grzałki przepływowej (TEN)</li>
                                    <li>Wymiana zaworu wlotowego (AquaStop)</li>
                                    <li>Wymiana uszczelki drzwi (dolnej lub obwodowej)</li>
                                    <li>Wymiana czujnika temperatury (NTC)</li>
                                    <li>Naprawa lub wymiana modułu elektronicznego (sterownika)</li>
                                </ul>
                                <ul class="about-repairs-list">
                                    <li>Wymiana hydrostatu (czujnika poziomu wody)</li>
                                    <li>Wymiana dozownika detergentu i nabłyszczacza</li>
                                    <li>Naprawa lub wymiana zamka drzwi</li>
                                    <li>Naprawa wiązki elektrycznej (kabli w drzwiach)</li>
                                    <li>Czyszczenie filtrów i układu odpływowego</li>
                                    <li>Naprawa lub wymiana pompy myjącej (pompo-grzałki)</li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="img-block">
                        <div class="img-block-inner">


                            <div class="img1">
                                <img loading="lazy" src="/agd/images/site/about1_520x470_fdd.jpg"
                                    alt="Naprawa zmywarek {{ city_name | default("Przemyśl") }}">
                            </div>


                            <div class="img2">
                                <img loading="lazy" src="/agd/images/site/about2_520x470_fdd.jpg" alt="Serwis zmywarek">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section num-section pt0">
            <div class="container">


                <div class="nums">

                    <div class="col">
                        <div class="item">
                            <div class="item-title num1">
                                <span id="num1" data-num="4">0</span>
                            </div>
                            <div class="item-text">
                                Lata doświadczenia <br>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num2">
                                <span id="num2" data-num="1200">0</span> +
                            </div>
                            <div class="item-text">
                                Sztuk sprzętu AGD naprawiono
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num3">
                                <span id="num3" data-num="100">0</span> +
                            </div>
                            <div class="item-text">
                                Części zamiennych w samochodzie
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="steps-section section pt0">
            <div class="container">
                <div class="steps-section-inner">
                    <div class="col1">
                        <div class="steps-section-content">

                            <h2><span>Skuteczna naprawa zmywarki {{ city_name | default("Przemyśl") }},</span> u Ciebie w domu.</h2>


                            <h3>
                                Jak wygląda proces naprawy ?
                            </h3>


                            <div class="push20"></div>
                            <p>
                                <a href="#feedback" class="btn btn-xlg anim-link fancyboxModal"
                                    data-title="Zostaw zgłoszenie" data-theme="Zgłoszenie z AGD.fix24"><span>Zostaw
                                        zgłoszenie</span></a>
                            </p>

                        </div>
                    </div>
                    <div class="col2">


                        <div class="steps">
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-2.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Zgłoszenie usterki – zadzwoń lub napisz na Messengerze, WhatsApp
                                    lub email</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/group.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Ustalenie szczegółów - skontaktujemy się z Tobą dla ustalenia
                                    szczegółów i terminów</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/icon.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Diagnostyka i wycena - na miejscu ustalamy przyczynę usterki i
                                    koszt naprawy</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/45.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Naprawa urządzenia - stosujemy tylko nowe wysokiej jakości części
                                    zamienne</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-3.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Gwarancja i odbiór - gwarancja na części i robociznę, paragon
                                    lub fakturę na życzenie.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="push30"></div>
            </div>
        </div>


        <div class="logotypes-section section slick-arrows-top-section pt0">
            <div class="container">
                <h2><span>Obsługiwane</span> marki</h2>
                <div class="logotypes-carousel-wrapper">
                    <div class="logotypes-carousel slick-arrows-top">

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Bosch.svg"
                                    alt="Bosch">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Electrolux.svg"
                                    alt="Electrolux">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_LG.svg"
                                    alt="LG">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Samsung.svg"
                                    alt="Samsung">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Siemens.svg"
                                    alt="Siemens">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Whirlpool.svg"
                                    alt="Whirlpool">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Indesit.svg"
                                    alt="Indesit">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Zanussi.svg"
                                    alt="Zanussi">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Miele.svg"
                                    alt="Miele">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Gorenje.svg"
                                    alt="Gorenje">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Amica.svg"
                                    alt="Amica">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Beko.svg"
                                    alt="Beko">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Hisense.svg"
                                    alt="Hisense">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Sharp.svg"
                                    alt="Sharp">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="push20"></div>
        </div>


        <div class="faq-section section pt0" id="faq">
            <div class="container">

                <h2>Odpowiadamy na <span>najczęściej zadawane pytania</span>:</h2>


                <div class="accordion">

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Zmywarka nie odpompowuje wody, co sprawdzić samemu?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Zanim zadzwonisz, warto wyczyścić filtry na dnie zmywarki. Jeśli to nie pomoże,
                                prawdopodobnie doszło do zablokowania lub awarii pompy odpływowej – wtedy wezwij nas.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Czy muszę wyciągać zmywarkę z zabudowy przed naprawą?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Nie ma takiej potrzeby. Nasz serwisant bezpiecznie wysunie urządzenie z zabudowy, dokona
                                diagnozy i po naprawie wsunie je z powrotem na miejsce.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        {% include "consultation.njk" %}

    </div>