


        <div class="services-section section pt0" id="services">
            <div class="container">

                <h2><span>Typowe usterki piekarników</span>, które naprawiamy w {{ city_locative | default("Przemyślu") }}:</h2>
                <p class="services-subtitle">Diagnozujemy i naprawiamy wszystkie typowe awarie piekarników elektrycznych
                    i gazowych. Dojazd do klienta, naprawa w dniu zgłoszenia.</p>

                <div class="services services--usterki">
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/piekarniki/Brak zasilania  Piekarnik nie włącza się.webp"
                                    alt="Piekarnik nie włącza się">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Piekarnik nie włącza się</div>
                                <div class="item-desc">Brak zasilania, uszkodzony bezpiecznik termiczny lub moduł
                                    elektroniczny/zasilania.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/piekarniki/Piekarnik nie grzeje (góra lub dół).webp"
                                    alt="Piekarnik nie grzeje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Piekarnik nie grzeje</div>
                                <div class="item-desc">Uszkodzona grzałka górna, dolna lub kołowa (termoobieg),
                                    uszkodzony temostat.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/piekarniki/Problem z temperaturą (nizka lub przegrzewa się).webp"
                                    alt="Problem z temperaturą">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Problem z temperaturą</div>
                                <div class="item-desc">Zbyt niska lub za wysoka temperatura, uszkodzony termostat lub
                                    czujnik temperatury.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/piekarniki/Termoobieg nie działa.webp"
                                    alt="Termoobieg nie działa">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Termoobieg nie działa</div>
                                <div class="item-desc">Uszkodzony lub zablokowany wentylator termoobiegu, uszkodzony
                                    silnik wentylatora.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/piekarniki/Drzwi nie domykają się.webp"
                                    alt="Drzwi nie domykają się">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Drzwi nie domykają się</div>
                                <div class="item-desc">Zużyta uszczelka drzwi, zużyte amortyzatory, uszkodzone zawiasy
                                    lub sprężyny.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/piekarniki/Uszkodzony programator lub pokrętła.webp"
                                    alt="Uszkodzony programator lub pokrętła">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Uszkodzony programator lub pokrętła</div>
                                <div class="item-desc">Niedziałające przyciski, pokrętła lub panel sterowania.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/piekarniki/Piekarnik wybija bezpieczniki.webp"
                                    alt="Piekarnik wybija bezpieczniki">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Piekarnik wybija bezpieczniki</div>
                                <div class="item-desc">Zwarcie w instalacji elektrycznej (module elektronicznym) lub
                                    uszkodzona grzałka.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/piekarniki/Głośna praca  Hałasuje.webp"
                                    alt="Piekarnik hałasuje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Piekarnik hałasuje</div>
                                <div class="item-desc">Zużyte łożyska silnika wentylatora termoobiegu lub chłodzenia
                                    obudowy.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="about-section section pt0" id="about">
            <div class="container">
                <div class="about-section-inner">
                    <div class="content-block content">


                        <h2 class="content-block-title">Twój zaufany <span>serwis piekarników</span> - {{ city_name | default("Przemyśl") }}</h2>


                        <div class="content">
                            <p><b>Dlaczego AGD.fix24? ?</b> Piekarnik nie grzeje równomiernie lub w ogóle? Przyczynę zwykle
                                znajdujemy w uszkodzonych elementach grzejnych, zawiślych czujnikach temperatury lub
                                modułach elektroniki. Diagnostyka elektryczna i wymiana grzałek przywracają prawidłową
                                funkcję urządzenia. Serwis piekarnika obejmuje także kalibrację termostat i kontrolę
                                szczelności uszczelnień. </p>
                            <p><b>Naprawiamy:</b> urządzenia większości producentów dostępnych na rynku, w tym: Amica,
                                Beko, Bosch, Electrolux, Gorenje, Hisense, Indesit, LG, Miele, Samsung, Siemens, Sharp,
                                Whirlpool, Zanussi oraz wiele innych.</p>
                        </div>
                        <div class="about-repairs">
                            <h3 class="about-repairs-title">Co naprawiamy?</h3>
                            <div class="about-repairs-cols">
                                <ul class="about-repairs-list">
                                    <li>Wymiana grzałki (górnej, dolnej, termoobiegu)</li>
                                    <li>Naprawa modułu elektronicznego (sterownika)</li>
                                    <li>Wymiana silnika termoobiegu</li>
                                    <li>Wymiana czujnika temperatury (NTC)</li>
                                    <li>Wymiana uszczelki drzwi</li>
                                    <li>Wymiana termostatu (roboczego lub zabezpieczającego)</li>
                                </ul>
                                <ul class="about-repairs-list">
                                    <li>Naprawa lub wymiana zawiasów</li>
                                    <li>Wymiana szyby (frontowej lub wewnętrznej)</li>
                                    <li>Wymiana bezpiecznika termicznego</li>
                                    <li>Wymiana żarówki i oprawki oświetlenia</li>
                                    <li>Naprawa wiązki elektrycznej (eliminacja zwarć)</li>
                                    <li>Wymiana lub naprawa programatora / zegara</li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="img-block">
                        <div class="img-block-inner">


                            <div class="img1">
                                <img loading="lazy" src="/agd/images/site/about1_520x470_fdd.jpg"
                                    alt="Naprawa piekarników {{ city_name | default("Przemyśl") }}">
                            </div>


                            <div class="img2">
                                <img loading="lazy" src="/agd/images/site/about2_520x470_fdd.jpg" alt="Serwis piekarników">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section num-section pt0">
            <div class="container">


                <div class="nums">

                    <div class="col">
                        <div class="item">
                            <div class="item-title num1">
                                <span id="num1" data-num="4">0</span>
                            </div>
                            <div class="item-text">
                                Lata doświadczenia <br>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num2">
                                <span id="num2" data-num="1200">0</span> +
                            </div>
                            <div class="item-text">
                                Sztuk sprzętu AGD naprawiono
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num3">
                                <span id="num3" data-num="100">0</span> +
                            </div>
                            <div class="item-text">
                                Części zamiennych w samochodzie
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="steps-section section pt0">
            <div class="container">
                <div class="steps-section-inner">
                    <div class="col1">
                        <div class="steps-section-content">

                            <h2><span>Sprawna naprawa piekarnika {{ city_name | default("Przemyśl") }},</span> bez kompromisów.</h2>


                            <h3>
                                Jak wygląda proces naprawy ?
                            </h3>


                            <div class="push20"></div>
                            <p>
                                <a href="#feedback" class="btn btn-xlg anim-link fancyboxModal"
                                    data-title="Zostaw zgłoszenie" data-theme="Zgłoszenie z AGD.fix24"><span>Zostaw
                                        zgłoszenie</span></a>
                            </p>

                        </div>
                    </div>
                    <div class="col2">


                        <div class="steps">
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-2.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Zgłoszenie usterki – zadzwoń lub napisz na Messengerze, WhatsApp
                                    lub email</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/group.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Ustalenie szczegółów - skontaktujemy się z Tobą dla ustalenia
                                    szczegółów i terminów</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/icon.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Diagnostyka i wycena - na miejscu ustalamy przyczynę usterki i
                                    koszt naprawy</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/45.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Naprawa urządzenia - stosujemy tylko nowe wysokiej jakości części
                                    zamienne</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-3.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Gwarancja i odbiór - gwarancja na części i robociznę, paragon
                                    lub fakturę na życzenie.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="push30"></div>
            </div>
        </div>


        <div class="logotypes-section section slick-arrows-top-section pt0">
            <div class="container">
                <h2><span>Obsługiwane</span> marki</h2>
                <div class="logotypes-carousel-wrapper">
                    <div class="logotypes-carousel slick-arrows-top">

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Bosch.svg"
                                    alt="Bosch">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Electrolux.svg"
                                    alt="Electrolux">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_LG.svg"
                                    alt="LG">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Samsung.svg"
                                    alt="Samsung">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Siemens.svg"
                                    alt="Siemens">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Whirlpool.svg"
                                    alt="Whirlpool">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Indesit.svg"
                                    alt="Indesit">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Zanussi.svg"
                                    alt="Zanussi">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Miele.svg"
                                    alt="Miele">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Gorenje.svg"
                                    alt="Gorenje">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Amica.svg"
                                    alt="Amica">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Beko.svg"
                                    alt="Beko">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Hisense.svg"
                                    alt="Hisense">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Sharp.svg"
                                    alt="Sharp">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="push20"></div>
        </div>


        <div class="faq-section section pt0" id="faq">
            <div class="container">

                <h2>Odpowiadamy na <span>najczęściej zadawane pytania</span>:</h2>


                <div class="accordion">

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Piekarnik słabo grzeje, czy to uszkodzona grzałka?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Najczęściej tak. Wymiana grzałki to standardowa procedura, którą wykonujemy od ręki
                                podczas jednej wizyty.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Czy naprawiacie płyty gazowe?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Specjalizujemy się w naprawie piekarników elektrycznych oraz części elektrycznej w
                                kuchenkach gazowo-elektrycznych.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        {% include "consultation.njk" %}

    </div>