<div class="main-content">



        <div class="services-section section pt0" id="services">
            <div class="container">

                <h2><span>Typowe usterki pralek</span>, które naprawiamy w {{ city_locative | default("Przemyślu") }}:</h2>
                <p class="services-subtitle">Diagnozujemy i naprawiamy wszystkie typowe awarie pralek i pralko-suszarek.
                    Dojazd do klienta, naprawa w dniu zgłoszenia.</p>

                <div class="services services--usterki">
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Nie wiruje.webp" alt="Nie wiruje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka nie wiruje</div>
                                <div class="item-desc">Uszkodzony pasek, silnik lub moduł sterujący.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Nie odprowadza wody.webp"
                                    alt="Nie odprowadza wody">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka nie odprowadza wody</div>
                                <div class="item-desc">Zablokowana pompa lub filtr, uszkodzony wąż odpływowy.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Wycieka lub przecieka.webp"
                                    alt="Wycieka lub przecieka">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Wyciek lub przeciek z pralki</div>
                                <div class="item-desc">Zużyta uszczelka drzwi, poluzowane złącza węży lub nieszczelna
                                    pompa.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Nie pobiera wody.webp"
                                    alt="Nie pobiera wody">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka nie pobiera wody</div>
                                <div class="item-desc">Awaria zaworu wlotowego lub zatkany filtr doprowadzenia wody.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Nie włącza się.webp"
                                    alt="Nie włącza się">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka nie włącza się</div>
                                <div class="item-desc">Problem z modułem elektronicznym, uszkodzony przycisk lub
                                    bezpiecznik.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Hałasuje lub wibruje.webp"
                                    alt="Hałasuje lub wibruje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka hałasuje lub wibruje</div>
                                <div class="item-desc">Zużyte łożyska lub amortyzatory. Wymiana łożysk z gwarancją.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Nie grzeje wody.webp"
                                    alt="Nie grzeje wody">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka nie grzeje wody</div>
                                <div class="item-desc">Uszkodzona grzałka (TEN) lub czujnik temperatury.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/pralki/Nie można otworzyć drzwi.webp"
                                    alt="Nie można otworzyć drzwi">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Pralka ma zablokowane drzwi</div>
                                <div class="item-desc">Uszkodzony zamek elektromagnetyczny lub blokada.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="about-section section pt0" id="about">
            <div class="container">
                <div class="about-section-inner">
                    <div class="content-block content">


                        <h2 class="content-block-title">Szybka i fachowa <span>naprawa pralek w {{ city_locative | default("Przemyślu") }}</span> - AGD.fix24</h2>


                        <div class="content">
                            <p><b>Czemu wybrać AGD.fix24? ?</b> Brak wirowania, wycieki wody lub dziwne hałasy z bębna? To
                                typowe objawy zużytych łożysk, uszkodzonej pompy wodnej lub awarii elektroniki
                                sterującej. Serwis pralki wymaga precyzyjnej diagnostyki i wymiany części
                                eksploatacyjnych. W naszym serwisie wykonujemy pełen zakres napraw dla wszystkich marek
                                i modeli. </p>
                            <p><b>Naprawiamy:</b> urządzenia większości producentów dostępnych na rynku, w tym: Amica,
                                Beko, Bosch, Electrolux, Gorenje, Hisense, Indesit, LG, Miele, Samsung, Siemens, Sharp,
                                Whirlpool, Zanussi oraz wiele innych.</p>
                        </div>
                        <div class="about-repairs">
                            <h3 class="about-repairs-title">Zakres naszych usług serwisowych:</h3>
                            <div class="about-repairs-cols">
                                <ul class="about-repairs-list">
                                    <li>Wymiana łożysk bębna</li>
                                    <li>Naprawa modułu elektronicznego</li>
                                    <li>Wymiana grzałki (TEN)</li>
                                    <li>Wymiana zaworu wlotowego wody</li>
                                    <li>Wymiana pompy odpływowej</li>
                                    <li>Wymiana amortyzatorów i sprężyn</li>
                                </ul>
                                <ul class="about-repairs-list">
                                    <li>Wymiana uszczelki drzwi</li>
                                    <li>Naprawa szczotek silnika</li>
                                    <li>Naprawa / wymiana zamka drzwi</li>
                                    <li>Wymiana czujnika temperatury (NTC)</li>
                                    <li>Wymiana paska klinowego</li>
                                    <li>Czyszczenie filtra pompy</li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="img-block">
                        <div class="img-block-inner">


                            <div class="img1">
                                <img loading="lazy" src="/agd/images/site/about1_520x470_fdd.jpg"
                                    alt="Naprawa pralek {{ city_name | default("Przemyśl") }}">
                            </div>


                            <div class="img2">
                                <img loading="lazy" src="/agd/images/site/about2_520x470_fdd.jpg" alt="Serwis pralek">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section num-section pt0">
            <div class="container">


                <div class="nums">

                    <div class="col">
                        <div class="item">
                            <div class="item-title num1">
                                <span id="num1" data-num="4">0</span>
                            </div>
                            <div class="item-text">
                                Lata doświadczenia <br>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num2">
                                <span id="num2" data-num="1200">0</span> +
                            </div>
                            <div class="item-text">
                                Sztuk sprzętu AGD naprawiono
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num3">
                                <span id="num3" data-num="100">0</span> +
                            </div>
                            <div class="item-text">
                                Części zamiennych w samochodzie
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="steps-section section pt0">
            <div class="container">
                <div class="steps-section-inner">
                    <div class="col1">
                        <div class="steps-section-content">

                            <h2><span>Profesjonalny serwis pralek {{ city_name | default("Przemyśl") }},</span> bez ukrytych kosztów.</h2>


                            <h3>
                                Jak wygląda proces naprawy ?
                            </h3>


                            <div class="push20"></div>
                            <p>
                                <a href="#feedback" class="btn btn-xlg anim-link fancyboxModal"
                                    data-title="Zostaw zgłoszenie" data-theme="Zgłoszenie z AGD.fix24"><span>Zostaw
                                        zgłoszenie</span></a>
                            </p>

                        </div>
                    </div>
                    <div class="col2">


                        <div class="steps">
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-2.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Zgłoszenie usterki – zadzwoń lub napisz na Messengerze, WhatsApp
                                    lub email</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/group.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Ustalenie szczegółów - skontaktujemy się z Tobą dla ustalenia
                                    szczegółów i terminów</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/icon.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Diagnostyka i wycena - na miejscu ustalamy przyczynę usterki i
                                    koszt naprawy</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/45.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Naprawa urządzenia - stosujemy tylko nowe wysokiej jakości części
                                    zamienne</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-3.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Gwarancja i odbiór - gwarancja na części i robociznę, paragon
                                    lub fakturę na życzenie.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="push30"></div>
            </div>
        </div>


        <div class="logotypes-section section slick-arrows-top-section pt0">
            <div class="container">
                <h2><span>Obsługiwane</span> marki</h2>
                <div class="logotypes-carousel-wrapper">
                    <div class="logotypes-carousel slick-arrows-top">

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Bosch.svg"
                                    alt="Bosch">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Electrolux.svg"
                                    alt="Electrolux">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_LG.svg"
                                    alt="LG">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Samsung.svg"
                                    alt="Samsung">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Siemens.svg"
                                    alt="Siemens">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Whirlpool.svg"
                                    alt="Whirlpool">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Indesit.svg"
                                    alt="Indesit">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Zanussi.svg"
                                    alt="Zanussi">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Miele.svg"
                                    alt="Miele">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Gorenje.svg"
                                    alt="Gorenje">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Amica.svg"
                                    alt="Amica">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Beko.svg"
                                    alt="Beko">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Hisense.svg"
                                    alt="Hisense">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Sharp.svg"
                                    alt="Sharp">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="push20"></div>
        </div>


        <div class="faq-section section pt0" id="faq">
            <div class="container">

                <h2>Odpowiadamy na <span>najczęściej zadawane pytania</span>:</h2>


                <div class="accordion">

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Czy wymieniacie łożyska w pralkach ze zgrzewanym bębnem?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Tak, wykonujemy profesjonalną wymianę łożysk nawet w nierozbieralnych (zgrzewanych)
                                zbiornikach z gwarancją szczelności.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Pralka skacze przy wirowaniu, dlaczego?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Najczęstszą przyczyną są zużyte amortyzatory, uszkodzone łożyska lub nierównomierne
                                rozłożenie prania. Szybko zdiagnozujemy i usuniemy ten problem.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        {% include "consultation.njk" %}
    </div>