


        <div class="services-section section pt0" id="services">
            <div class="container">

                <h2><span>Typowe usterki lodówek</span>, które naprawiamy w {{ city_locative | default("Przemyślu") }}:</h2>
                <p class="services-subtitle">Diagnozujemy i naprawiamy wszystkie typowe awarie lodówek i zamrażarek.
                    Dojazd do klienta, naprawa w dniu zgłoszenia.</p>

                <div class="services services--usterki">
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/nie chłodzi lub nie mrozi.webp"
                                    alt="Lodówka nie chłodzi">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Lodówka nie chłodzi lub nie mrozi</div>
                                <div class="item-desc">Uszkodzona sprężarka, termostat, czujnik temperatury lub niedobór
                                    czynnika chłodniczego.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/Agregat pracuje bez przerwy.webp"
                                    alt="Agregat pracuje bez przerwy">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Agregat pracuje bez przerwy</div>
                                <div class="item-desc">Zużyta uszczelka drzwi, problem z termostatem, czujnikiem
                                    temperatury lub układem chłodzenia.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/Gromadzi się lód i szron.webp"
                                    alt="Gromadzi się lód i szron">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Gromadzi się lód i szron</div>
                                <div class="item-desc">Uszkodzony system No Frost lub grzałka odmrażania, nieszczelna
                                    uszczelka drzwi.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/Wyciek wody z lodówki.webp"
                                    alt="Wyciek wody z lodówki">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Wyciek wody z lodówki</div>
                                <div class="item-desc">Zatkany odpływ skroplin lub uszkodzona uszczelka drzwi.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/Lodówka nie włącza się.webp"
                                    alt="Lodówka nie włącza się">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Lodówka nie włącza się</div>
                                <div class="item-desc">Problem z modułem elektronicznym, uszkodzony rozrusznik lub
                                    inverter.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/halasuje.png"
                                    alt="Lodówka hałasuje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Lodówka hałasuje</div>
                                <div class="item-desc">Zużyty wentylator, poluzowanie się elementów obudowy lub
                                    uszkodzenie agregatu..</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy"
                                    src="/agd/images/typowe usterki/lodowki/Panel sterowania nie reaguje.webp"
                                    alt="Panel sterowania nie reaguje">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Panel sterowania nie reaguje</div>
                                <div class="item-desc">Uszkodzony moduł elektroniczny, wyświetlacz lub wiązka przewodów.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item">
                            <div class="item-img">
                                <img loading="lazy" src="/agd/images/typowe usterki/lodowki/Jedna z komór nie działa.webp"
                                    alt="Jedna z komór nie działa">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Jedna z komór nie działa</div>
                                <div class="item-desc">Awaria wentylatora lub przepustnicy (damper), niedobór czynnika.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="about-section section pt0" id="about">
            <div class="container">
                <div class="about-section-inner">
                    <div class="content-block content">


                        <h2 class="content-block-title">Specjalistyczny <span>serwis lodówek</span> w {{ city_locative | default('Przemyślu') }}</h2>


                        <div class="content">
                            <p><b>Dlaczego AGD.fix24? ?</b> Lodówka nie chłodzi, mrozi nadmiernie lub wycieka woda spod
                                obudowy? Najczęstsze przyczyny to uszkodzony termostat, nieszczelne uszczelki drzwi lub
                                awaria sprężarki chłodniczej. Diagnostyka układu chłodniczego i wymiana czujników
                                temperatury to standardowy zakres naszych serwisów. Szybka naprawa gwarantuje powrót do
                                normalnego funkcjonowania urządzenia. </p>
                            <p><b>Naprawiamy:</b> urządzenia większości producentów dostępnych na rynku, w tym: Amica,
                                Beko, Bosch, Electrolux, Gorenje, Hisense, Indesit, LG, Miele, Samsung, Siemens, Sharp,
                                Whirlpool, Zanussi oraz wiele innych.</p>
                        </div>
                        <div class="about-repairs">
                            <h3 class="about-repairs-title">Co naprawiamy?</h3>
                            <div class="about-repairs-cols">
                                <ul class="about-repairs-list">
                                    <li>Wymiana modułu sterującego</li>
                                    <li>Wymiana termostatu</li>
                                    <li>Wymiana czujnika temperatury (NTC)</li>
                                    <li>Wymiana wentylatora parownika lub skraplacza</li>
                                    <li>Wymiana uszczelki drzwi</li>
                                </ul>
                                <ul class="about-repairs-list">
                                    <li>Czyszczenie i udrożnienie odpływu wody</li>
                                    <li>Naprawa systemu No Frost</li>
                                    <li>Naprawa zawiasów drzwi</li>
                                    <li>Wymiana przekaźnika rozruchowego</li>
                                    <li>Naprawa okablowania</li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="img-block">
                        <div class="img-block-inner">


                            <div class="img1">
                                <img loading="lazy" src="/agd/images/site/about1_520x470_fdd.jpg"
                                    alt="Naprawa lodówek {{ city_name | default("Przemyśl") }}">
                            </div>


                            <div class="img2">
                                <img loading="lazy" src="/agd/images/site/about2_520x470_fdd.jpg" alt="Serwis lodówek">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section num-section pt0">
            <div class="container">


                <div class="nums">

                    <div class="col">
                        <div class="item">
                            <div class="item-title num1">
                                <span id="num1" data-num="4">0</span>
                            </div>
                            <div class="item-text">
                                Lata doświadczenia <br>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num2">
                                <span id="num2" data-num="1200">0</span> +
                            </div>
                            <div class="item-text">
                                Sztuk sprzętu AGD naprawiono
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item">
                            <div class="item-title num3">
                                <span id="num3" data-num="100">0</span> +
                            </div>
                            <div class="item-text">
                                Części zamiennych w samochodzie
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="steps-section section pt0">
            <div class="container">
                <div class="steps-section-inner">
                    <div class="col1">
                        <div class="steps-section-content">

                            <h2><span>Szybka naprawa lodówki {{ city_name | default("Przemyśl") }},</span> bez kompromisów.</h2>


                            <h3>
                                Jak wygląda proces naprawy ?
                            </h3>


                            <div class="push20"></div>
                            <p>
                                <a href="#feedback" class="btn btn-xlg anim-link fancyboxModal"
                                    data-title="Zostaw zgłoszenie" data-theme="Zgłoszenie z AGD.fix24"><span>Zostaw
                                        zgłoszenie</span></a>
                            </p>

                        </div>
                    </div>
                    <div class="col2">


                        <div class="steps">
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-2.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Zgłoszenie usterki – zadzwoń lub napisz na Messengerze, WhatsApp
                                    lub email</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/group.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Ustalenie szczegółów - skontaktujemy się z Tobą dla ustalenia
                                    szczegółów i terminów</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/icon.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Diagnostyka i wycena - na miejscu ustalamy przyczynę usterki i
                                    koszt naprawy</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/45.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Naprawa urządzenia - stosujemy tylko nowe wysokiej jakości części
                                    zamienne</div>
                            </div>
                            <div class="item">
                                <div class="item-num">
                                    <img src="/agd/images/icons/galochka-3.svg" alt="" width="40" height="40">
                                </div>
                                <div class="item-title">Gwarancja i odbiór - gwarancja na części i robociznę, paragon
                                    lub fakturę na życzenie.</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="push30"></div>
            </div>
        </div>


        <div class="logotypes-section section slick-arrows-top-section pt0">
            <div class="container">
                <h2><span>Obsługiwane</span> marki</h2>
                <div class="logotypes-carousel-wrapper">
                    <div class="logotypes-carousel slick-arrows-top">

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Bosch.svg"
                                    alt="Bosch">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Electrolux.svg"
                                    alt="Electrolux">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_LG.svg"
                                    alt="LG">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Samsung.svg"
                                    alt="Samsung">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Siemens.svg"
                                    alt="Siemens">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Whirlpool.svg"
                                    alt="Whirlpool">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Indesit.svg"
                                    alt="Indesit">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Zanussi.svg"
                                    alt="Zanussi">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Miele.svg"
                                    alt="Miele">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Gorenje.svg"
                                    alt="Gorenje">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Amica.svg"
                                    alt="Amica">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Beko.svg"
                                    alt="Beko">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Hisense.svg"
                                    alt="Hisense">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Sharp.svg"
                                    alt="Sharp">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="push20"></div>
        </div>


        <div class="faq-section section pt0" id="faq">
            <div class="container">

                <h2>Odpowiadamy na <span>najczęściej zadawane pytania</span>:</h2>


                <div class="accordion">

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Czy naprawa lodówki odbywa się u klienta?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Tak, w 99% przypadków naprawiamy lodówki i zamrażarki na miejscu u klienta w {{ city_locative | default('Przemyślu') }} i
                                okolicach. Posiadamy przy sobie niezbędne części zamienne.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">Lodówka nie chłodzi, co robić przed przyjazdem serwisu?</div>
                            <div class="item-icon"></div>
                        </div>
                        <div class="item-body">
                            <p>Zalecamy odłączyć urządzenie od zasilania, aby nie przegrzać sprężarki. Nie trzeba jej
                                całkowicie rozmrażać, chyba że technik poprosi o to podczas rozmowy telefonicznej.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        {% include "consultation.njk" %}

    </div>