<div class="faq-section section pt0" id="faq">
            <div class="container">

                <h2>Odpowiadamy na najczęściej zadawane pytania:</h2>


                <div class="accordion">


                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">
                                Jakie rodzaje sprzętu AGD naprawiacie ?
                            </div>
                            <div class="item-icon">
                            </div>
                        </div>
                        <div class="item-body">
                            <p>Oferujemy profesjonalny serwis szerokiej gamy urządzeń AGD: lodówki, pralki, suszarki,
                                zmywarki i piekarniki, kuchnie i płyty grzewcze. Obsługujemy wszystkie kluczowe marki i
                                modele dostępne na rynku.</p>
                        </div>
                    </div>


                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">
                                Jak szybko możemy przyjechać na naprawę ?
                            </div>
                            <div class="item-icon">
                            </div>
                        </div>
                        <div class="item-body">
                            <p>Dążymy do tego, aby zrealizować usługę w tym samym lub następnym dniu roboczym od momentu
                                zgłoszenia. Naszym priorytetem jest błyskawiczne usunięcie awarii, aby zminimalizować
                                Twoje niedogodności i przywrócić sprawność urządzeń.</p>
                        </div>
                    </div>


                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">
                                Co obejmuje usługa naprawy ?
                            </div>
                            <div class="item-icon">
                            </div>
                        </div>
                        <div class="item-body">
                            <p>Nasze usługi są kompleksowe i przejrzyste. Każda wizyta technika obejmuje: dokładną
                                diagnostykę, fachową konsultację, szybką i właściwą naprawę.</p>
                        </div>
                    </div>


                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">
                                Czy udzielają Państwo gwarancji na wykonane naprawy ?
                            </div>
                            <div class="item-icon">
                            </div>
                        </div>
                        <div class="item-body">
                            <p>Oczywiście! Udzielamy gwarancji zarówno na zamontowane części, jak i na wykonaną usługę.
                                Czas trwania gwarancji zależy od rodzaju urządzenia oraz specyfiki użytych podzespołów,
                                o czym poinformujemy Cię szczegółowo po zakończeniu prac.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item-head">
                            <div class="item-title">
                                Czy dojeżdżacie do okolicznych wsi wokół {{ city_locative | default("Przemyślu") }}?
                            </div>
                            <div class="item-icon">
                            </div>
                        </div>
                        <div class="item-body">
                            <p>Tak, obsługujemy nie tylko samo miasto {{ city_name | default("Przemyśl") }}, ale również jego szerokie okolice. Najczęściej dojeżdżamy na naprawy sprzętu AGD do następujących miejscowości:</p>
                            
                            {% set faq_villages = [] %}
                            {% if city_name == 'Jarosław' %}
                                {% set faq_villages = ['Koniaczów', 'Kostków', 'Makowisko', 'Munina', 'Pełkinie', 'Sobiecin', 'Surochów', 'Tuczempy', 'Wietlin', 'Wietlin Pierwszy', 'Wietlin Trzeci', 'Zgoda', 'Pawłosiów', 'Cieszacin Mały', 'Cieszacin Wielki', 'Kidałowice', 'Tywonia', 'Wierzbna', 'Chłopice', 'Boratyn', 'Dobkowice', 'Jankowice', 'Łowce', 'Zamiechów', 'Szówsko', 'Wiązownica'] %}
                            {% elif city_name == 'Radymno' %}
                                {% set faq_villages = ['Chałupki Chotynieckie', 'Chotyniec', 'Duńkowice', 'Grabowiec', 'Korczowa', 'Łazy', 'Michałówka', 'Młyny', 'Nienowice', 'Ostrów', 'Piaski', 'Skołoszów', 'Sośnica', 'Święte', 'Zabłotce', 'Zamojsce', 'Orły', 'Drohojów', 'Hnatkowice', 'Kaszyce', 'Małkowice', 'Olszany', 'Pantalowice', 'Trójczyce', 'Wacławice', 'Walawa', 'Stubno', 'Barycz', 'Kalników', 'Nakło', 'Starzawa', 'Pozdiacz (Leszno)'] %}
                            {% elif city_name == 'Pruchnik' %}
                                {% set faq_villages = ['Pruchnik Dolny', 'Pruchnik Górny', 'Hawłowice', 'Jodłówka', 'Kramarzówka', 'Rozbórz Długi', 'Rozbórz Okrągły', 'Rzeplin', 'Świebodna', 'Roźwienica', 'Bystrowice', 'Chorzów', 'Czudowice', 'Rudołowice', 'Tyniowice', 'Węgierka', 'Wola Roźwienicka'] %}
                            {% elif city_name == 'Bircza' %}
                                {% set faq_villages = ['Boguszówka', 'Borownica', 'Brzeżawa', 'Dobrzanka', 'Grodzisko', 'Jawornik Ruski', 'Korzeniec', 'Kotów', 'Kuźmina', 'Leszczawa Dolna', 'Leszczawa Górna', 'Lipa', 'Łodzinka Dolna', 'Łodzinka Górna', 'Malawa', 'Nowa Wieś', 'Roztoka', 'Rudawka', 'Stara Bircza', 'Sufczyna', 'Wola Korzeniecka', 'Żohatyn', 'Fredropol', 'Aksmanice', 'Darowice', 'Huwniki', 'Kalwaria Pacławska', 'Kłokowice', 'Kniażyce', 'Koniusza', 'Kupiatycze', 'Młodowice', 'Nowe Sady', 'Pacław', 'Rybotycze', 'Sierakośce'] %}
                            {% elif city_name == 'Dubiecko' %}
                                {% set faq_villages = ['Drohobyczka', 'Hucisko Nienadowskie', 'Iskań', 'Nienadowa', 'Piątkowa', 'Przedmieście Dubieckie', 'Sielnica', 'Śliwnica', 'Winne-Podbukowina', 'Wybrzeże', 'Krzywcza', 'Babice', 'Bachów', 'Chyrzyna', 'Kupna', 'Reczpol', 'Ruszelczyce', 'Skopów', 'Średnia'] %}
                            {% else %}
                                {% set faq_villages = ['Bełwin', 'Grochowce', 'Hermanowice', 'Hołubla', 'Krowniki', 'Kruhel Mały', 'Kruhel Wielki', 'Kuńkowce', 'Łętownia', 'Łuczyce', 'Malhowice', 'Nehrybka', 'Pikulice', 'Rożubowice', 'Stanisławczyk', 'Ujkowice', 'Wapowce', 'Witoszyńce', 'Żurawica', 'Baraki', 'Batycze', 'Bolestraszyce', 'Buszkowice', 'Buszkowiczki', 'Kosienice', 'Maćkowice', 'Orzechowce', 'Wyszatyce', 'Medyka', 'Hureczko', 'Hurko', 'Jaksmanice', 'Siedliska', 'Torki', 'Krasiczyn', 'Prałkowce', 'Śliwnica', 'Zamoście'] %}
                            {% endif %}
                            
                            <p style="margin-top: 15px; font-weight: 500; font-size: 0.9em; line-height: 1.6;">
                                {{ faq_villages | join(', ') }} ...oraz wiele innych okolicznych miejscowości!
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        