<div class="mobile-menu-wrapper">
        <div class="swipe-area"></div>
        <nav class="mobile-menu anchor-menu">
            <ul>
                <li><a href="#services">Usługi</a></li>

                <li><a href="#about">O nas</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#footer">Kontakt</a></li>
            </ul>
            <div class="push55"></div>
        </nav>
    </div>
    <div class="overlay"></div>
    <header class="header">

        <div class="header-media">


            {% set current_bg = '/agd/images/site/header-bg.jpg' %}
            {% set current_bg_sm = '/agd/images/site/header-bg-sm.jpg' %}
            {% set current_bg_xs = '/agd/images/site/header-bg-xs.jpg' %}
            {% if 'naprawa_pralek' in page.url %}
                {% set current_bg = '/agd/images/hero/pralka_big.webp' %}
                {% set current_bg_sm = '/agd/images/hero/pralka_big.webp' %}
                {% set current_bg_xs = '/agd/images/hero/pralka_big.webp' %}
            {% elif 'naprawa_lodowek' in page.url %}
                {% set current_bg = '/agd/images/hero/lodowka_big.webp' %}
                {% set current_bg_sm = '/agd/images/hero/lodowka_big.webp' %}
                {% set current_bg_xs = '/agd/images/hero/lodowka_big.webp' %}
            {% elif 'naprawa_piekarnikow' in page.url %}
                {% set current_bg = '/agd/images/hero/piekarnik_big.webp' %}
                {% set current_bg_sm = '/agd/images/hero/piekarnik_big.webp' %}
                {% set current_bg_xs = '/agd/images/hero/piekarnik_big.webp' %}
            {% elif 'naprawa_zmywarek' in page.url %}
                {% set current_bg = '/agd/images/hero/zmywarka_big.webp' %}
                {% set current_bg_sm = '/agd/images/hero/zmywarka_big.webp' %}
                {% set current_bg_xs = '/agd/images/hero/zmywarka_big.webp' %}
            {% endif %}

            <div class="header-img visible-md visible-lg"
                style="background-image: linear-gradient(270deg, #FFFFFF00 0%, #FFFFFF 48%, #FFFFFF 100%), linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 0%, #FFFFFFCC 0%, #FFFFFF00 100%), linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 34%, #FFFFFFE0 59%, #FFFFFF00 100%), url('{{ current_bg }}');">
            </div>

            <div class="header-img visible-sm" style="background-image: url('{{ current_bg_sm }}');"></div>

            <div class="header-img visible-xs" style="background-image: url('{{ current_bg_xs }}');"></div>

        </div>


        <div class="header-inner">
            <div class="header-main">
                <div class="header-main-wrapper">
                    <div class="container">
                        <div class="header-main-inner">
                            <div class="header-logo">
                                <a href="{{ city_path | default('/agd/') }}">

                                    <div class="logo-inner">

                                        <img src="/agd/images/site/logo-icon.png" alt="AGD.fix24">


                                        <div class="logo-body">
                                            <div class="logo-title">
                                                <span>AGD</span>.fix24
                                            </div>
                                        </div>

                                    </div>

                                </a>
                            </div>

                            <nav class="top-menu anchor-menu">
                                <ul>
                                    <li><a href="#services">Usługi</a></li>

                                    <li><a href="#about">O nas</a></li>
                                    <li><a href="#faq">FAQ</a></li>
                                    <li><a href="#footer">Kontakt</a></li>
                                </ul>
                                <ul class="top-menu-more-list">
                                    <li>
                                        <span></span>
                                        <ul class="top-menu-more-list-sublist"></ul>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-contacts">
                                <div class="header-contacts-dropdown-wrapper">
                                    <div class="header-contacts-title">
                                        <a href="tel:+48573463323">+48 573-463-323</a>
                                        <div class="header-contacts-title-overlay"></div>
                                    </div>
                                    <div class="header-contacts-dropdown">
                                        <span class="header-contacts-dropdown-close">
                                            <svg width="15" height="15" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M20 0.908974L19.091 0L10 9.09103L0.908974 0L0 0.908974L9.09103 10L0 19.091L0.908974 20L10 10.909L19.091 20L20 19.091L10.909 10L20 0.908974Z"
                                                    fill="black"></path>
                                            </svg>
                                        </span>
                                        <div class="title-h6 visible-xs visible-sm">Telefon:</div>

                                        <div class="header-phone">
                                            <a href="tel:+48573463323">+48 573-463-323</a>

                                            <div class="header-phone-description">
                                                Przyjmowanie zgłoszeń
                                            </div>

                                        </div>


                                        <div class="header-contacts-dropdown-btn">
                                            <a href="#feedback" class="btn full-width fancyboxModal"
                                                data-theme="Poproś o kontakt" data-title="Poproś o kontakt">Poproś o
                                                kontakt</a>
                                        </div>

                                        <div class="header-contacts-dropdown-items">

                                            <div class="item">
                                                <div class="item-title">
                                                    E-mail
                                                </div>
                                                <div class="item-value">
                                                    <a href="mailto:agd.fix24@gmail.com">agd.fix24@gmail.com</a>
                                                </div>
                                            </div>


                                            <div class="item">
                                                <div class="item-title">
                                                    Obszar działania
                                                </div>
                                                <div class="item-value">
                                                    {{ city_name | default("Przemyśl") }} i okolice
                                                </div>
                                            </div>


                                            <div class="item">
                                                <div class="item-title">
                                                    Godziny pracy
                                                </div>
                                                <div class="item-value">
                                                    Codziennie 08:00-20:00
                                                </div>
                                            </div>


                                        </div>


                                        <ul class="social-nav">


                                            <li class="whatsapp-btn">
                                                <a href="https://api.whatsapp.com/send?phone=48573463323"
                                                    target="_blank">
                                                    <svg width="20" height="22" aria-hidden="true" focusable="false"
                                                        data-prefix="fab" data-icon="WhatsApp" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                        class="svg-inline--fa fa-WhatsApp fa-w-14 fa-2x">
                                                        <path fill="currentColor"
                                                            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                                                            class=""></path>
                                                    </svg>
                                                </a>
                                            </li>


                                            <li class="chat-app-btn">
                                                <a href="https://m.me/agdfix24pro" target="_blank">
                                                    <svg width="20" height="20" aria-hidden="true" focusable="false"
                                                        data-prefix="fab" data-icon="app-msg-icon" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                        class="svg-inline--fa app-msg-icon fa-w-14 fa-2x">
                                                        <path fill="currentColor"
                                                            d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
                                                    </svg>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                                <ul class="social-nav hidden-xs">

                                    <li class="whatsapp-btn">
                                        <a href="https://api.whatsapp.com/send?phone=48573463323" target="_blank">
                                            <svg width="20" height="22" aria-hidden="true" focusable="false"
                                                data-prefix="fab" data-icon="WhatsApp" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                class="svg-inline--fa fa-WhatsApp fa-w-14 fa-2x">
                                                <path fill="currentColor"
                                                    d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
                                                    class=""></path>
                                            </svg>
                                        </a>
                                    </li>


                                    <li class="chat-app-btn">
                                        <a href="https://m.me/agdfix24pro" target="_blank">
                                            <svg width="20" height="20" aria-hidden="true" focusable="false"
                                                data-prefix="fab" data-icon="app-msg-icon" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                class="svg-inline--fa app-msg-icon fa-w-14 fa-2x">
                                                <path fill="currentColor"
                                                    d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z" />
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                                <div class="menu-button">
                                    <span class="icon-menu-burger">
                                        <span class="icon-menu-burger__line"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-main-wrapper-push"></div>
            </div>


            <div class="header-content">
                <div class="container">
                    <div class="header-content-inner">
                        <h1 class="header-title">
                            <span>Lokalny serwis</span> AGD <br>z dojazdem do klienta <br>
                            w {{ city_locative | default("Przemyślu") }} i okolicach <br>
                            <span class="rotate-text" style="font-size: 0.8em; margin-top: 10px; display: inline-block;"><b class="is-visible">szybka interwencja</b><b
                                    class="is-hidden">uczciwa wycena</b><b class="is-hidden">pisemna gwarancja</b></span>
                        </h1>

                        <div class="header-subtitle">
                            Potrzebujesz szybkiej pomocy ? Fachowa naprawa <br>pralek, lodówek, zmywarek, piekarników,
                            kuchenek <br>i płyt grzewczych, oraz innego sprzętu AGD.
                        </div>


                        <div class="header-features">

                            <div class="col">
                                <div class="item">
                                    <div class="item-icon"></div>
                                    <div class="item-body">
                                        <div class="item-title">
                                            Szybki dojazd do klienta – profesjonalna naprawa awarii na miejscu.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="item">
                                    <div class="item-icon"></div>
                                    <div class="item-body">
                                        <div class="item-title">
                                            Gwarancja stałej ceny, paragon lub faktura na życzenie.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="header-bottom">
                            <a href="tel:+48573463323" class="btn btn-xlg anim-link call-btn">
                                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    style="margin-right: 10px; vertical-align: middle; margin-top: -2px;">
                                    <path
                                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                    </path>
                                </svg>
                                <span>+48 573-463-323</span>
                            </a>

                            <div class="call-time">
                                <div class="call-time-icon">
                                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                            </style>
                                        </defs>
                                        <title />
                                        <g data-name="Layer 2" id="Layer_2">
                                            <path
                                                d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z" />
                                            <path
                                                d="M21.5,22.5a1,1,0,0,1-.71-.29l-5.5-5.5A1,1,0,0,1,15,16V8a1,1,0,0,1,2,0v7.59l5.21,5.2a1,1,0,0,1,0,1.42A1,1,0,0,1,21.5,22.5Z" />
                                        </g>
                                        <g id="frame">
                                            <rect class="cls-1" height="32" width="32" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="call-time-title">
                                    Przyjmowanie zgłoszeń: 24/7
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </header>