<div class="logotypes-section section slick-arrows-top-section pt0">
            <div class="container">
                <h2>Obsługiwane marki</h2>
                <div class="logotypes-carousel-wrapper">
                    <div class="logotypes-carousel slick-arrows-top">

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Bosch.svg"
                                    alt="Bosch">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Electrolux.svg"
                                    alt="Electrolux">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_LG.svg"
                                    alt="LG">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Samsung.svg"
                                    alt="Samsung">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Siemens.svg"
                                    alt="Siemens">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Whirlpool.svg"
                                    alt="Whirlpool">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Indesit.svg"
                                    alt="Indesit">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Zanussi.svg"
                                    alt="Zanussi">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Miele.svg"
                                    alt="Miele">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Gorenje.svg"
                                    alt="Gorenje">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Amica.svg"
                                    alt="Amica">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Beko.svg"
                                    alt="Beko">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Hisense.svg"
                                    alt="Hisense">
                            </div>
                        </div>

                        <div class="col">
                            <div class="item">
                                <img src="/agd/images/brands/naprawa_serwis_lodówek_zamrażarek_piekarników_kuchenek_płytgrzewczych_okapów_zmywarek_pralek_suszarek_pralkosuszarek_Sharp.svg"
                                    alt="Sharp">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="push20"></div>
        </div>