<div class="services-section section pt0" id="services">
            <div class="container">

                <h2><span>Gwarantujemy skuteczną pomoc.</span> <br>Zakres naszych usług:</h2>


                <div class="services">
                    <div class="col">
                        <a href="{{ city_path | default("/") }}naprawa_pralek.html" class="item">
                            <div class="item-img">

                                <img src="/agd/images/services/s5.svg" alt="Naprawa pralek">

                            </div>
                            <div class="item-inner">
                                <div class="item-body">

                                    <div class="item-price">
                                        Naprawa i serwis
                                    </div>

                                    <div class="item-title">
                                        Pralki, pralko-suszarki i suszarki
                                    </div>
                                </div>
                                <div class="item-footer">
                                    <span class="btn btn-lg full-width anim-link"><span>Naprawa i serwis</span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ city_path | default("/") }}naprawa_lodowek.html" class="item">
                            <div class="item-img">

                                <img src="/agd/images/services/freezer.svg" alt="Naprawa lodówek">

                            </div>
                            <div class="item-inner">
                                <div class="item-body">

                                    <div class="item-price">
                                        Naprawa i serwis
                                    </div>

                                    <div class="item-title">
                                        Lodówki, chłodziarki i zamrażarki
                                    </div>
                                </div>
                                <div class="item-footer">
                                    <span class="btn btn-lg full-width anim-link"><span>Naprawa i serwis</span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ city_path | default("/") }}naprawa_piekarnikow.html" class="item">
                            <div class="item-img">

                                <img src="/agd/images/services/i-2-traced.svg" alt="Naprawa płyt i piekarników">

                            </div>
                            <div class="item-inner">
                                <div class="item-body">

                                    <div class="item-price">
                                        Naprawa i serwis
                                    </div>

                                    <div class="item-title">
                                        Kuchnie, piekarniki i płyty grzewcze
                                    </div>
                                </div>
                                <div class="item-footer">
                                    <span class="btn btn-lg full-width anim-link"><span>Naprawa i serwis</span></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ city_path | default("/") }}naprawa_zmywarek.html" class="item">
                            <div class="item-img">

                                <img src="/agd/images/services/dishwasher.svg" alt="Naprawa zmywarek">

                            </div>
                            <div class="item-inner">
                                <div class="item-body">

                                    <div class="item-price">
                                        Naprawa i serwis
                                    </div>

                                    <div class="item-title">
                                        Zmywarki i wyparzarki
                                    </div>
                                </div>
                                <div class="item-footer">
                                    <span class="btn btn-lg full-width anim-link"><span>Naprawa i serwis</span></span>
                                </div>
                            </div>
                        </a>


                    </div>
                </div>

            </div>
        </div>