---
villages: "Pruchnik Dolny, Pruchnik Górny, Hawłowice, Jodłówka, Kramarzówka, Rozbórz Długi, Rozbórz Okrągły, Rzeplin, Świebodna, Roźwienica, Bystrowice, Chorzów, Czudowice, Rudołowice, Tyniowice, Węgierka, Wola Roźwienicka"
city_path: "/pruchnik/"
layout: home.njk
title: "Naprawa AGD Pruchnik | Mobilny Serwis z dojazdem | AGD.fix24"
seo_desc: "Szybka i skuteczna naprawa sprzętu AGD w Pruchniku i okolicach. Pralki, lodówki, zmywarki, piekarniki. Dojazd do klienta, bezpłatna diagnostyka przy naprawie!"
city_name: "Pruchnik"
city_locative: "Pruchniku"
---
