---
layout: base.njk
title: "Naprawa Lodówek i Zamrażarek Jarosław | Serwis AGD.fix24"
seo_desc: "Zepsuta lodówka? Szybka naprawa lodówek i zamrażarek w Jarosławu na miejscu. Usuwamy usterki chłodzenia, wycieki wody i inne. Zadzwoń po fachowca!"
city_name: "Jarosław"
city_locative: "Jarosławiu"
city_path: "/jaroslaw/"
---
{% include "content_lodowek.njk" %}
