---
layout: base.njk
title: "Naprawa Pralek i Pralko-Suszarek {{ city_name | default('Przemyśl') }} | Serwis na miejscu"
seo_desc: "Pralka nie wiruje lub nie odpompowuje wody? Błyskawiczna naprawa pralek w {{ city_locative | default('Przemyślu') }}. Wymiana łożysk, pomp i grzałek z dojazdem do klienta."
---
{% include "content_pralek.njk" %}
